<div class="container mt-2">
  <h1 class="text-center mb-4">Connect Four</h1>

  @if (!isConnected()) {
    <app-notifications></app-notifications>
  }

  <!-- The board container element -->
  <div class="board-container">
    @if (isConnected()) {
      @if (activeUsersCount() > 0 || joinKey()) {
        <app-active-users-badge [label]="badgeLabel" [activeUsersCount]="activeUsersCount()" />
      }
      @if (showInviteLink()) {
        <app-game-invite-link-container [inviteLink]="inviteLink" />
      }
      @if (showInstructions()) {
        <span>{{ instructionText }}</span>
      }
    }

    <!-- The Board -->
    <div class="board">
      <!-- Loop through each column (outer array) -->
      @for (column of board; track colIndex; let colIndex = $index) {
        <div class="column" [attr.data-column]="colIndex" (click)="playMove(colIndex)">
          <!-- Loop through each cell in the column (inner array) -->
          @for (cellState of column; track rowIndex + '-' + cellState; let rowIndex = $index) {
            <div
              class="cell"
              [attr.data-column]="colIndex"
              [class.empty]="cellState === 'empty'"
              [class.red]="cellState === 'red'"
              [class.yellow]="cellState === 'yellow'"
            ></div>
          }
        </div>
      }
    </div>
    <!-- Actions Panel  -->
    @if (showActionButton()) {
      <div class="actions">
        <button class="action" (click)="handleButtonAction()">{{ buttonActionText() }}</button>
      </div>
    }
    <!-- END CONTAINER -->
  </div>
</div>
