.notifications-container {
  display: block;
  padding: 20px;
  background-color: #f7a431;
  margin: 20px;
  border-radius: 8px;
}

.notifications-txt {
  font-size: 1em;
  color: #ffffff;
  text-align: justify;
}
